<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Belog.mapper.BoardMapper">
    <!-- 게시글 작성 -->
    <insert id="writeBoard" parameterType="com.example.Belog.domain.BoardDTO">
        insert into board(userId, boardTitle, boardContents, hashTag) values (#{userId}, #{boardTitle}, #{boardContents}, #{hashTag})
    </insert>

    <!-- 이미지 넣기 -->
    <insert id="insertBoardImage">
        insert into boardImg(boardNum, boardImg) values
        <foreach collection="boardImages" item="boardImage" separator=",">
            (#{boardNum}, #{boardImage})
        </foreach>
    </insert>

    <!-- 게시글 삭제 -->
    <delete id="deleteBoard" parameterType="Long">
        delete from board where boardNum = #{boardNum}
    </delete>

    <delete id="deleteBoardImage" parameterType="Long">
        delete from boardImg where boardNum = #{boardNum}
    </delete>

    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="com.example.Belog.domain.BoardDTO">
        update board set boardContents = #{boardContents}, boardTitle = #{boardTitle}, hashTag = #{hashTag} where boardNum = #{boardNum}
    </update>

    <!-- 게시글 토탈을 구하기 위해 -->
    <select id="getBoardCount" parameterType="com.example.Belog.domain.BoardDTO" resultType="int">
        select count(*) from board;
    </select>

    <!--전체 조회 -->
    <select id="findAllBoard" resultType="com.example.Belog.domain.BoardDTO">
        select * from board order by boardNum desc limit #{startRow}, #{BOARD_NUM_PER_PAGE};
    </select>

    <select id="findBoardImagesByBoardNum" resultType="com.example.Belog.domain.BoardImageDTO">
        select * from boardImg where boardNum = #{boardNum}
    </select>

    <select id="getBoardCountByBoardNum" parameterType="Long" resultType="int">
        select count(*) from board where boardNum = #{boardNum}
    </select>

    <!-- 게시글 상세 정보 -->
    <select id="findBoardByBoardNum" parameterType="Long" resultType="com.example.Belog.domain.BoardDTO">
        select boardNum, userId, boardTitle, boardContents, hashTag, writeTime from board where boardNum = #{boardNum};
    </select>

    <select id="getLastBoardNum" resultType="Long">
        select max(boardNum) from board;
    </select>

    <select id="findUserIdByUserEmail" parameterType="String" resultType="Long">
        select userId from user where userEmail = #{userEmail};
    </select>

    <select id="findBoardByUserId" resultType="com.example.Belog.domain.BoardDTO">
        select * from board where userId = #{userId};
    </select>

    <select id="findUserEmailByUserId" resultType="String">
        select userEmail from user where userId = #{userId};
    </select>
</mapper>